<h1>Answer</h1>
 <!-- Display the question you ask your coach as well as his answer. -->
 <!-- Your question to your coach should be given as a parameter named :query -->

<!-- Display the question you ask your coach -->
<p><%= @question %></p>
<p><%= @answer %></p>
<!-- Display your coach's answer -->

<%= link_to "Ask a new question", ask_path %>

